.navbar {
    background-color: transparent;
}
li:hover {
    color: #d55951;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 5;
    transition: all 0.3s ease-in-out;
}
.drawer-item {
    border-bottom: 2px solid white;
}
header.white {
    background-color: #fff;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
header nav a {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

header nav a:active {
    border-color: #d55951;
}

.navbar-toggler:focus {
    outline: none;
    border-color: #d55951;
    box-shadow: 0 0 0 0.2rem rgba(213, 89, 81, 0.5);
}
